////////////////////////////////////////
///////  COLOR

$primary: #edbc6c;
$secondary: #c84289;
$danger: #dc3545;
$success: #28a745;
$white: #fff;
$black: #000;
$background-light: #f3f2f2;
$grey-dark: #252525;
$grey-extra-light: #e2e1e1;

////////////////////////////////////////
///////  FONT FAMILY

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;