.rope {
  background-image: url("../img/squareknot_rope.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: -17rem;
  width: 100%;
  height: 300px;
}