.u-text-center { text-align: center; }
.u-text-right { text-align: right; }

.u-text-white { color: $white; }

.u-mb-lg { margin-bottom: 12.2rem;}
.u-mb-md { margin-bottom: 9.6rem; }
.u-mb-sm  { margin-bottom: 6.4rem; }
.u-mb-xs { margin-bottom: 2.4rem; }